<h5><strong>マイページ</strong></h5>

<div>
    <label><strong>登録情報</strong><%= link_to'編集する',edit_public_customer_path(@customer.id),class:"btn btn-success" %></label>
    <table class="table table-striped">
       <thead>
         <tr>
           <th>氏名</th>
           <th>カナ</th>
           <th>郵便番号</th>
           <th>住所</th>
           <th>電話番号</th>
           <th>メールアドレス</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= @customer.last_name %>  <%= @customer.first_name %></td>
           <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
           <td>〒 <%= @customer.postal_code %></td>
           <td><%= @customer. address %></td>
           <td><%= @customer.telephone_number %></td>
           <td><%= @customer.email %></td>
         </tr>
       </tbody>
    </table>
  </div>

  <label><strong>配送先</strong></label>　　　　<label><%= link_to'一覧を見る',public_addresses_path,class:"btn btn-info" %></label>
  <br/>
  <label><strong>注文履歴</strong></label>　　　<label><%= link_to'一覧を見る',public_orders_path,class:"btn btn-info" %></label>

