<h1>マイページ</h1>

<h2>登録情報</h2>

<p>氏名</p>

<p><%= @customer.last_name %>  <%= @customer.first_name %></p>

<p>カナ</p>

<p><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></p>

<p>郵便番号</p>

<p><%= @customer.postal_code %></p>

<p>住所</p>

<p><%= @customer. address %></p>

<p>電話番号</p>

<p><%= @customer.telephone_number %></p>

<p>メールアドレス</p>

<p><%= @customer.email %></p>

<p><%= link_to'編集する',edit_public_customer_path %></p>

<p>配送先一覧</p>

<p>注文一覧</p>






