<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<h1>マイページ</h1>

<h5>登録情報</h5>

<p>氏名</p>

<p><%= @customer.last_name %>  <%= @customer.first_name %></p>

<p>カナ</p>

<p><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></p>

<p>郵便番号</p>

<p><%= @customer.postal_code %></p>

<p>住所</p>

<p><%= @customer. address %></p>

<p>電話番号</p>

<p><%= @customer.telephone_number %></p>

<p>メールアドレス</p>

<p><%= @customer.email %></p>

<p><%= link_to'編集する',edit_public_customer_path %></p>

<p><%= link_to'配送先一覧',public_addresses_path %>

<p>注文一覧</p>

</body>
</html>






