<div class="container">
  <h5><strong>商品編集</strong></h5>
    <div class="row">
      <div class="col-lg">
        <%= form_with model:@item,url: admin_item_path(@item.id), method: :patch do |f| %>

            <label>商品画像</label>　　　　　　<label><%= f.file_field :image,accept:"image/*" %></label>
            <br/>
            <label>商品名</label>　　　　　　　<label><%= f.text_field :name %></label>
            <br/>
            <label>商品説明</label>　　　　　　<label><%= f.text_area :introduction %></label>
            <br/>
            <label>ジャンル</label>　　　　　　<label><%= f.collection_select :genre_id, Genre.all, :id,:name %></label>
            <br/>
            <label>税抜価格</label>　　　　　　<label><%= f.text_field :price %></label>
            <br/>
            <label>販売ステータス</label>　　　<label><%= f.select :is_active,[['販売中',true],['売り切れ',false]] %></label>
            <br/>
            <label><%= f.submit'変更保存',class:"btn btn-success" %></label>

            <% end %>
      </div>
    </div>
</div>