<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>

      <div class="container">

        <div class="row">

          <div class="col">
            


<h1>商品編集画面</h1>

  <%= form_with model:@item,url: admin_item_path(@item.id), method: :patch do |f| %>

　<p>商品名</p>

　<p><%= f.text_field :name %></p>

  <p>画像</p>

  <p><%= f.file_field :image,accept:"image/*" %></p>

  <p>説明</p>

  <p><%= f.text_area :introduction %></p>

  <p>金額</p>

  <p><%= f.text_field :price %></p>

  <p><%= f.submit'保存'%></p>

  <% end %>

  <h2>販売ステータス</h2>

   <p><%= @item.is_active ? '販売中':'売切れ' %></p>

   <% if @item.is_active %>

    <%= link_to '売り切れにする',admin_item_path(@item.id,item:{is_active:false}),method: :put %>

   <% else %>

    <%= link_to '販売中にする',admin_item_path(@item.id,item:{is_active:true}),method: :put %>

   <% end %>

   <p><%= link_to"商品一覧",admin_items_path %></p>
   
          </div>

        </div>

      </div>

    </main>

  </body>
  
</html>  