<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

     <h1>LOGO</h1>

     <nav>
       <ul>
         <li><%= link_to"商品一覧",admin_items_path %></li>
         <li><%= link_to"会員一覧",admin_customers_path %></li>
         <li><%= link_to"注文一覧",admin_orders_path %></li>
         <li><%= link_to"ジャンル一覧",admin_genres_path %></li>
         <% if admin_signed_in? %>
         <li><%= link_to "LOG OUT",destroy_admin_sessionn_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "LOG IN",new_admin_session_path %></li>
         <% end %>
       </ul>
     </nav>
　</header>

  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col">

            <h1>商品一覧</h1>

                <table>
                  <thead>
                    <tr>
                      <th>商品ID</th>
                      <th>商品名</th>
                      <th>税抜価格</th>
                      <th>ジャンル</th>
                      <th>ステータス</th>
                    </tr>
                  </thead>

                  <% @items.each do |item| %>

                  <tbody>
                    <tr>
                      <td></td>
                      <td><%= item.name %></td>
                      <td></td>
                      <td><%= item.genre_id %></td>
                      <td><%= item.is_active ? '販売中':'売切れ' %></td>
                    </tr>
                  </tbody>
                  <p><%= link_to"商品情報",admin_item_path(item.id)%></p>
                  <% end %>





          </div>

        </div>

      </div>

    </main>

  </body>

</html>