<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

      <div class="container">

            <h4>商品新規登録</h4>
              <%= form_with model: @item,method: :post, url: admin_items_path do |f| %>

              <p>画像</p>
              <p><%= f.file_field :image,accept:"image/*" %></p>

              <p>商品名</p>
              <p><%= f.text_field :name %></p>

              <p>説明</p>
              <p><%= f.text_area :introduction %></p>

              <p>ジャンル</p>
              <p><%= f.collection_select :genre_id, Genre.all, :id,:name %></p>

              <p>税抜価格</p>
              <p><%= f.text_field :price %></p>

              <p>販売ステータス</p>
              <p><%= f.select :is_active,[['販売中',true],['売り切れ',false]] %></p>




              <p><%= f.submit'新規登録',class:"btn btn-success" %></p>
              <% end %>
            </div>
  </body>
<html>

