<h1>Admin::Items#new</h1>

<h1>商品を追加</h1>

  <%= form_with model: @item,method: :post, url: admin_items_path do |f| %>
  
  <p>ジャンル</p>

  <p><%= f.collection_select :genre_id, Genre.all, :id,:name %></p>

  <p>画像</p>

  <p><%= f.file_field :image,accept:"image/*" %></p>

  <p>商品名</p>

  <p><%= f.text_field :name %></p>

  <p>説明</p>

  <p><%= f.text_area :introduction %></p>

  <p>金額</p>

  <p><%= f.text_field :price %></p>

  <p>販売状況</p>


  <p><%= f.submit'追加' %></p>

  <% end %>
