<div class="container">
  <h5>商品詳細</h5>

    <div class="row">

          <div class="col-5">
            <% if @item.image.attached? %>
             <p><%= image_tag @item.image,size:"300x300" %></p>
            <% else %>
             <p><%= image_tag 'no_image',size:"300x300" %></p>
            <% end %>
          </div>
          <div class="col-7">
            <label>商品名</label>　　　　　　　<label><%= @item.name %></label>
            <br/>
            <label>商品説明</label>　　　　　　<label><%= @item.introduction %></label>
            <br/>
            <label>ジャンル</label>　　　　　　<label><%= @item.genre.name %></label>
            <br/>
            <label>税抜価格</label>　　　　　　<label><%= @item.price %>円</label>
            <br/>
            <label>販売ステータス</label>　　　<label><%= @item.is_active ? '販売中':'売切れ' %></label>
            <p><%= link_to"編集する",edit_admin_item_path(@item.id),class:"btn btn-success"%></p>
          </div>

    </div>

</div>



