<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h5>商品詳細</h5>
            <% if @item.image.attached? %>
             <p><%= image_tag @item.image,size:"300x300" %></p>
            <% else %>
             <p><%= image_tag 'no_image',size:"300x300" %></p>
            <% end %>
          </div>
          <div class="col-7">
            <p>商品名</p>
            <p><%= @item.name %></p>

            <p>商品説明</p>
            <p><%= @item.introduction %></p>

            <p>ジャンル</p>
            <p><%= @item.genre.name %></p>

            <p>税抜価格</p>
            <p><%= @item.price %>円</p>

            <p>販売ステータス</p>
            <p><%= @item.is_active ? '販売中':'売切れ' %></p>

            <p><%= link_to"編集する",edit_admin_item_path(@item.id),class:"btn btn-success"%></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>



