<h2>Log in</h2>

<header>

     <h1>LOGO</h1>

     <nav>
       <ul>
         <li><%= link_to"ABOUT",public_homes_about_path %></li>
         <% if customer_signed_in? %>
         <li><%= link_to "LOG OUT",destroy_customer_session_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "SIGN UP",new_customer_registration_path %></li>
         <li><%= link_to "LOG IN",new_customer_session_path %></li>
         <% end %>
       </ul>
     </nav>
</header>

<body>
  
  <h1>管理者ログイン</h1>

<%= form_with model:@admin,url: admin_session_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</body>
