<div class="container">
  <div class="row">
    <div class="col-lg">
      <div>
        <p>ようこそ、ながのケーキへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
    </div>
    <div>
      <h3><strong>新着商品</strong></h3>

      <% @items.each do |item| %>

        <% if item.image.attached? %>
         <p><%= image_tag item.image,size: "300x300" %></p>
        <% else %>
         <p><%= image_tag 'no_image',size:"300x300" %></p>
        <% end %>
  
        <p><%= item.name %></p>
  
        <p>￥<%= item.price %></p>

      <% end %>
      
      </div>

      <%=link_to"全ての商品を見る",public_items_path %>

   </div>
  </div>
</div>

