<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>

      <div class="container">

        <div class="row">

          <div class="col">

<h1>Admin::Customers#index</h1>

<h1>会員一覧</h1>

<% @customers.each do |customer|%>

<p>姓</p>

<p><%= customer.last_name %></p>

<p>名</p>

<p><%= customer.first_name %></p>

<p>メールアドレス</p>

<p><%= customer.email %></p>

<p>電話番号</p>

<p><%= customer.telephone_number %></p>

<p><%= link_to"会員情報",admin_customer_path(customer.id) %></p>

<% end %>

          </div>

        </div>

      </div>

    </main>

  </body>

