<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main>
      <div class="container">

            <h5>会員一覧</h5>
            <table class="table table-striped">
              <tr>
                 <th>会員ID</th>
                 <th>氏名</th>
                 <th>メールアドレス</th>
                 <th>ステータス</th>
              </tr>
            　<% @customers.each do |customer|%>
            　<tr>
            　  <td><%= customer.id %></td>
            　  <td><%= link_to "#{customer.last_name} ""#{customer.first_name}",admin_customer_path(customer.id)  %></td>
            　  <td><%= customer.email %></td>
            　  <td><%= customer.is_active ? '有効':'退会' %></td>
            　</tr>
            　<% end %>
            </table>
          </div>

</html>

