<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>

      <div class="container">

        <div class="row">

          <div class="col">

<h1>Admin::Customers#show</h1>

<h1>会員情報</h1>

<p>姓</p>

<p><%= @customer.last_name %></p>

<p>名</p>

<p><%= @customer.first_name %></p>

<p>姓カナ</p>

<p><%= @customer.last_name_kana %></p>

<p>名カナ</p>

<p><%= @customer.first_name_kana %></p>

<p>メールアドレス</p>

<p><%= @customer.email %></p>

<p>パスワード</p>

<p><%= @customer.encrypted_password %></p>

<p>郵便番号</p>

<p><%= @customer.postal_code %></p>

<p>住所</p>

<p><%= @customer.address %></p>

<p>電話番号</p>

<p><%= @customer.telephone_number %></p>

<p>退会ステータス</p>

<p><%= @customer.is_active %></p>

