<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <h5>会員情報</h5>

    <p>会員ID</p>
    <p><%= @customer.id %></p>

    <p>氏名</p>

    <p><%= @customer.last_name %><%= @customer.first_name %></p>

    <p>フリガナ</p>

    <p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>

    <p>メールアドレス</p>

    <p><%= @customer.email %></p>

    <p>パスワード</p>

    <p><%= @customer.encrypted_password %></p>

    <p>郵便番号</p>

    <p><%= @customer.postal_code %></p>

    <p>住所</p>

    <p><%= @customer.address %></p>

    <p>電話番号</p>

    <p><%= @customer.telephone_number %></p>

    <p>会員ステータス</p>

    <p><%= @customer.is_active ? '有効':'退会'%></p>

    <%= link_to'編集する',edit_admin_customer_path(@customer.id),class:"btn btn-success" %>

    <p>注文履歴一覧を見る</p>

