<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="container">

<h5>管理者トップページ</h5>

<h6>注文履歴一覧画面</h6>

<% @orders.each do |order| %>

<p>会員ID</p>

  <%= order customer_id %> <p>FK</p>

<p>配送先郵便番号</p>

  <%= order.postal_code %>

<p>配送先住所</p>

  <%= order.address %>

<p>配送先氏名</p>

  <%= order.name %>

<p>送料</p>

  <%= order.shipping_cost %>

<p>請求額</p>

  <%= order.order_price %>

<p>支払方法</p>

  <%= order.payment_method %>

<p>受注ステータス</p>

  <%= order.status %>

<% end %>

          </div>

</html>