<div class="container">
  <h5>注文履歴詳細</h5>

  <div class="row">
    <div class="col-lg">
      <lable><strong>購入者</strong>　　　　<%= @order.customer.last_name %><%= @order.customer.first_name %></lable>
      <br/>
      <lable><strong>注文日</strong>　　　　<%= @order.created_at.strftime('%Y/%m/%d') %></lable>
      <br/>
      <lable><strong>配送先</strong>　　　　〒 <%= @order.postal_code %>　<%= @order.address %>　<%= @order.name %></lable>
      <br/>
      <lable><strong>支払方法</strong>　　　<%= @order.payment_method_i18n%></lable>
      <br/>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail |%>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <lable><strong>商品合計</strong></lable>　　　　<lable><%= @order.order_price - @order.shipping_cost %>円 </lable>
      <br/>
      <lable><strong>送料</strong></lable>　　　　　　<lable><%= @order.shipping_cost %>円</lable>
      <br/>
      <lable><strong>請求額合計</strong></lable>　　　<lable><%= @order.order_price %>円</lable>
    </div>

  </div>

</div>




