<!DOCTYPE html>
<html>
  <head>
    <title>nagano_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>

      <div class="container">

        <div class="row">

          <div class="col-lg-6">

<h1>ジャンルを追加</h1>

  <%= form_with model:@genre,url: admin_genres_path,method: :post do |f| %>

  <p><%= f.text_field :name %></p>

  <p><%= f.submit'追加',class:"btn btn-secondary" %></p>

  <% end %>

  </div>

<div class="col-lg-6">

  <h1>ジャンル一覧</h1>

    <table class="table table-striped">

      <thead>

        <tr>

        <th>ジャンル</th>

        <th></th>

        </tr>

      </thead>

  <% @genres.each do |genres| %>

      <tbody>

        <tr>

          <td><%= genres.name %></td>

          <td><%= link_to"編集する",edit_admin_genre_path(genres.id) ,class:"btn btn-secondary" %></td>

        </tr>

       </tbody>

       <% end %>

    </table>

  </div>

          </div>

        </div>

      </div>

    </main>

  </body>

  <footer>

    <div class="container">

      <div class="row">

        <div class="col-xl-12"style="background-color: pink;" >
          <h1>logo</h1>
        </div>

      </div>

    </div>

  </footer>

</html>
