<h1>Admin::Genres#new</h1>


<h1>ジャンルを追加</h1>

  <%= form_with model:@genre,url:'/admin/genres',method: :post do |f| %>

  <%= f.text_field :name %>

  <%= f.submit'追加' %>

  <% end %>

  <h1>ジャンル一覧</h1>

  <% @genres.each do |genres| %>

  <p><%= genres.name %></p>

  <p><%= link_to"編集する",edit_admin_genre_path(genres.id) %></p>

  <% end %>


