
      <div class="container">

        <div class="row">

          <div class="col">

<h1>注文履歴詳細画面</h1>

<p>注文ID</p>

  <%= @order_details.order_id %>
  
<p>商品ID</p>

  <%= @order_details.item_id %>
  
<p>購入時価格</p>

  <%= @order_details.price %>
  
<p>数量</p>

  <%= @order_details.amount %>
  
<p>製造ステータス</p>

  <%= @order_details.making_status %>

          </div>

        </div>

      </div>

    </main>

  </body>
  
</html>    