<h1>Public::Addresses#edit</h1>
<p>Find me in app/views/public/addresses/edit.html.erb</p>

<h1>配送先編集</h1>

<div>

  <%= form_with model:@address,url: public_address_path(@address.id),method: :patch do |f| %>
  
  <p><%= f.text_field :postal_code %></p>
  
  <p><%= f.text_area :address %></p>
  
  <p><%= f.text_field :name %></p>
  
  <p><%= f.submit'変更内容を保存'%></p>
  
  <% end %>

</div>
