<h3>新規会員登録</h3>

<%= form_with model:@customer,url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

　<label>名前</label>
  <div class="field">
    <%= f.label :（姓）%>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :（名） %>
    <%= f.text_field :first_name %>
  </div>

　<label>フリガナ</label>
  <div class="field">
    <%= f.label :（セイ） %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :（メイ） %>
    <%= f.text_field :first_name_kana %>
  </div>
　<label>メールアドレス</label>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
　<label>郵便番号(ハイフンなし)</label>
  <div class="field">
　　<%= f.text_field :postal_code %>
  </div>
　<label>住所</label>
  <div class="field">
    <%= f.text_field :address %>
  </div>
　<label>電話番号(ハイフンなし)</label>
  <div class="field">
    <%= f.text_field :telephone_number %>
  </div>
 <label>パスワード(6文字以上)</label>
  <div class="field">

    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
　<label>パスワード(確認用)</label>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

　<div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>

<p><%= link_to'こちら',new_customer_session_path %>からログインしてください。</p>
