<div class="container">
  <h5><strong>注文情報入力画面</strong></h5>

  <div class="row">

    <%= form_with model: @orders,url: public_orders_comfirm_path,method: :post do |f| %>

      <h6><strong>支払方法</strong></h6>

      <label><%= f.radio_button :payment_method, Order.payment_methods.key(0) %></label>
      <label><%= f.label:payment_method,Order.payment_methods_i18n[:credit_card] %></label>
      <br/>
      <label><%= f.radio_button :payment_method, Order.payment_methods.key(1) %></label>
      <label><%= f.label:payment_method,Order.payment_methods_i18n[:transfer] %></label>
      <br/>

      <h6><strong>お届け先</strong></h6>

      <label><%= f.radio_button :select_address, 0,checked: true %></label>
      <label><%= f.label :address,"ご自身の住所"%></label>
      <p>　　　〒<%= @customer.postal_code %><%= @customer.address %>　<%= @customer.last_name %>　<%= @customer.first_name %></p>

      <label><%= f.radio_button :select_address, 1 %></label>
      <label><%= f.label :address,"登録済み住所から選択"%></label>
      <p>　　　<%= f.select :address_id, options_from_collection_for_select(Address.all,:id,:address_display )%></p>

      <label><%= f.radio_button :select_address, 2 %></label>
      <label><%= f.label :address,"新しいお届け先"%></label>

      <p>　　　郵便番号（ハイフンなし）　　　　<%= f.text_field :postal_code %></p>
      <p>　　　住所　　　　　　　　　　　　　　<%= f.text_area :address %></p>
      <p>　　　宛名　　　　　　　　　　　　　　<%= f.text_field :name %></p>

      <p><%= f.submit '確認画面へ進む',class:"btn btn-info" %></p>

    <% end %>


</div>