<div class="container">
  <h5><strong>商品一覧</strong></h5>

  <div class="row">

    <div class="col-lg-6">
      <% @items.each do |item| %>
       <% if item.image.attached? %>
        <p><%= image_tag item.image,size:"200x200" %></p>
       <% else %>
        <p><%= image_tag 'no_image',size:"200x200" %></p>
       <% end %>
      <p><%= link_to"#{item.name}",public_item_path(item.id) %></p>
      <p>￥<%= item.price %></p>
      <% end %>
    </div>

  </div>

  <%= paginate @items %>
</div>


