<div class="container">
  <h5><strong>商品一覧</strong></h5>

  <div class="row">

    <div class="col-lg-6">
      <% @items.each do |item| %>

       <% if item.image.attached? %>

         <p><%= link_to public_item_path(item.id) do %>
           <%= image_tag item.image,size:"200x200" %>
         <% end %></p>

       <% else %>

         <p><%= link_to public_item_path(item.id) do %>
           <%= image_tag 'no_image',size:"200x200" %>
         <% end %></p>

       <% end %>

      <p><%= item.name %></p>

      <p>￥<%= item.price %></p>

      <% end %>

    </div>

  </div>

  <%= paginate @items %>
</div>


