<div class="container">

  <div class="row">

    <div class="col-lg-6">
      <% if @item.image.attached? %>
       <p><%= image_tag @item.image,size:"300x300" %></p>
      <% else %>
       <p><%= image_tag 'no_image',size:"300x300" %></p>
      <% end %>
    </div>

      <div class="col-lg-6">
        <h3><strong><%= @item.name %></strong></h3>

        <p><%= @item.introduction %></p>

        <h5><strong>￥<%= (@item.price * 1.1 ).floor %></strong></h5><lable>(税込)</lable>

        <%= form_with model: @cart_item ,url: public_cart_items_path do |f| %>

        <lable><%= f.select :amount,[['個数選択'],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]] %></lable>

        <lable>　　　　　</lable>

        <%= f.hidden_field :item_id,:value => @item.id %>

        <lable><%= f.submit'カートに入れる',class:"btn btn-success" %></lable>

        <% end %>
      </div>

  </div>

</div>
